@{
    ViewBag.Title = "Password Expires";
}

<div class="message warning" style="padding:10px;margin-top:2em;">
	<span></span>
	<h6>@ViewBag.Title</h6>
	<p>@if (ViewBag.ErrMessage != null) { @ViewBag.ErrMessage}</p>
	<p>@Html.ActionLink("Click here", "ChangePassword", "Account") to change password or @Html.ActionLink("Click here", "Index", "Home") to proceed</p>
</div>
