@model Tipstaff.Models.ChildCreationModel

@{
    ViewBag.Title = string.Format("Create child record for {0}", Model.tipstaffRecord.UniqueRecordID);
}

    <h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Child Abductions","Index", "ChildAbduction")
> @Html.ActionLink(Model.tipstaffRecord.UniqueRecordID,"Details","ChildAbduction", new{id=Model.tipstaffRecord.tipstaffRecordID},null)
> Create child record</h6>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    Html.RenderPartial("_createChildRecordBase");
}