@{
    ViewBag.Title = "Change Password";
}

<h6>Change Password</h6>
<div>
    Your password has been changed successfully.
    @if (ViewBag.Message != null) { @ViewBag.Message }
    @if (ViewBag.ErrMessage != null) { <h2 class="error">@ViewBag.ErrMessage)</h2> } 
    @if (ViewBag.SuccessMessage != null){ <h2 class="success">@ViewBag.SuccessMessage</h2> }
</div>
