<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AWSSecretKey" value="h61Diom/SlmOuHu7LlOLDWsbnHKa6tqnZ0BN+A9C" />
    <add key="AWSAccessKey" value="AKIAIYOJJPVKTI5E6DLA" />
    <add key="ServiceURL" value="ec2.eu-west-2.amazonaws.com" />
    <add key="RegionEndpoint" value="eu-west-2" />
  </appSettings>
  </configuration>
