@model Tipstaff.Models.ErrorModel

@{
    ViewBag.Title = "Closed File";
}
<br />
<fieldset>
        <legend>Warning</legend>
        <div class="quote"><blockquote>@Model.ErrorMessage</blockquote></div>
        If you feel this is an error, and that you should be able to make changes, please raise a helpdesk call.
</fieldset>