@{
    ViewBag.Title = "Unauthorised content";
}
<div class="message error" style="padding:10px;margin-top:2em;">
	<span></span>
	<h6>Error</h6>
    <dl>
        <dt>@ViewBag.Title</dt>
        <dd>You do not currently have permission to access the page you have requested. </dd>
        <dd>If you feel this is incorrect, please contact your local admin.</dd>
    </dl>
</div>
