@{
    ViewBag.Title = "Tipstaff Summaries";
}

<script type="text/javascript">
    function showHide(shID) {
        if (document.getElementById(shID)) {
            if (document.getElementById(shID + '-show').style.display != 'none') {
                document.getElementById(shID + '-show').style.display = 'none';
                document.getElementById(shID).style.display = 'block';
            }
            else {
                document.getElementById(shID + '-show').style.display = 'inline';
                document.getElementById(shID).style.display = 'none';
            }
        }
    }
</script>
    @{
        System.Security.Principal.IIdentity userIdentity = User.Identity;
        Tipstaff.CPrincipal thisUser = new CPrincipal(userIdentity);
        Tipstaff.AccessLevel thisUserLevel = thisUser.AccessLevel;
    }
    @if (User.Identity.IsAuthenticated && !thisUser.IsInRole("Deactivated"))
    { 
    <h1>Development Deploy Test V5 - Tipstaff Summaries</h1>
    <br />
       <div>
           <div>
              @Html.Action("Outstanding", "CaseReview")
              @Html.Action("CaseClosedIssues", "Home")
           </div>
           <div>
            <img src="@Url.Action("Issue", "Home", new { gp = Tipstaff.Models.GraphPeriod.week })" alt="Weekly issue chart" @*style="clear:both;"*@/>
            <img src="@Url.Action("Issue", "Home", new { gp = Tipstaff.Models.GraphPeriod.month })" alt="Monthly issue chart" @*style="clear:both;"*@/>
           </div>
       </div>
        <script type="text/javascript">document.getElementById('searchRecord').focus()</script>    }
    else
    { 
        <h1>Tipstaff Database</h1>
        <p>
            This application is for use by the Office of the Tipstaff in the Royal Courts of Justice.
        </p>
    }
