<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>carlosfernandezjusticegsigo.onmicrosoft.com</ADDomain>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tipstaff.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tipstaff.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Tipstaff</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Tipstaff</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://carlosfernandezjusticegsigo.onmicrosoft.com/WebApp-tipstaff.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>55331735-0d33-4d4a-b680-442cc2333a53</ADClientAPPID>
    <ADClientPassword>biIcqvB/9KQZncxvohTnoOznh4UdQWms8UlxKXP+1KQ=</ADClientPassword>
    <ADReplyUrl>https://tipstaff.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>3b55ff20-476d-4db8-a003-daa1c8d8e0f3</ADTenantId>
    <ADPostLogoutRedirectUri>https://tipstaff.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>