<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>justice.gov.uk</ADDomain>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tipstaff-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tipstaff-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Tipstaff-test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Tipstaff-test</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TipstaffDB" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tipstaff.Models.TipstaffDB, Tipstaff" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="xls" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=NO;IMEX=1;ImportMixedTypes=Text'" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\xls_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=NO;IMEX=1;ImportMixedTypes=Text'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://justice.gov.uk/WebApp-tipstaff-test.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>d1403ad0-1dce-4c67-9998-7bdc00c9a27b</ADClientAPPID>
    <ADClientPassword>HvH4z4jzi3wUaM1vB/ij6egV++6xJXS0BlKEwhJYSnc=</ADClientPassword>
    <ADReplyUrl>https://tipstaff-test.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>c6874728-71e6-41fe-a9e1-2e8c36776ad8</ADTenantId>
    <ADPostLogoutRedirectUri>https://tipstaff-test.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TipstaffDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)xls-Web.config Connection String" />
  </ItemGroup>
</Project>